<!DOCTYPE html>
<html>
<body>
  <script>
    {% include "homepage/index.js" %}

  </script>

        <h1>Welcome to our Indoor Air-Quality Web-App</h1>
        <p>
        <button type="button" onclick="onContactClick();">Contact</button>
        </p>
        <p>
        <button type="button" onclick="onLoginClick();">Login</button>
        </p>
        <p>
        <button type="button" onclick="onRegisterClick();">Register</button>
        </p>

        <p id="version">The Version is:</p>
        <button type="button" onclick="onVersionClick();">Version</button>

</body>
</html>
